@import './src/style/variables.scss';

.calendar {
  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid #eee;

    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}
