.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__close-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(2);
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 11px;
    color: gray;
    background: transparent;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #fff;
    padding: 16px;
    border: 3px solid lavender;
    border-radius: 8px;
  }
}


.create-event {
  display: flex;
  flex-direction: column;
}

.event-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: lavender;

  &__field {
    margin: 8px;
    border-radius: 8px;
    border: 1px solid rgb(198, 194, 194);
    &:hover {
      border: 1px solid lavenderblush;
    }
  }

  &__submit-btn {
    margin: 8px;
    margin-left: auto;
    border: none;
    color: #fff;
    background-color: rgb(100, 149, 237);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      border: 1px solid lavenderblush;
    }
  }
}
