@import './src/style/variables.scss';

.header {
  display: flex;
  height: 60px;
  padding: 0 48px;
  align-items: center;
}

.create-event-btn {
  padding: 0 16px;
  background-color: $header-bg-color;
  border-radius: 24px;
  border: none;
  box-shadow: $box-shadow;
  color: $primary-color;

  &:hover {
    box-shadow: $button-hover-color 0 1px 8px 0, $button-hover-color 0 1px 1px -1px, $primary-color 0 1px 5px 0;
  }

  &__icon {
    margin-right: 8px;
  }
}

.navigation {

  &__today-btn {
    margin-left: 32px;
    padding: 0 16px;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px 10px -5px rgba($primary-color, 0.2);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, $button-hover-color);

    color: #fff;

    &:hover {
      background: linear-gradient(144deg, #af40ff, #5b42f3 10%, $button-hover-color 90%);
    }
  }

  &__nav-icon {
    font-size: 16px;
    margin-left: 20px;
    color: $primary-color;
  }

  &__displayed-month {
    margin-left: 10px;
    font-size: 20px;
    color: $primary-color;
  }
}
