@import './src/style/variables.scss';

.calendar {
  &__time-scale {
    height: 100%;
    width: 48px;
    background: $background-accent;
  }
}

.time-slot {
  height: 60px;
  width: 48px;
  text-align: right;

  &__time {
    font-size: 12px;
    opacity: 0.7;
    top: -12px;
    margin-right: 4px;
  }
}
