.delete-event {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -50%;
  bottom: -20px;
  background-color: beige;
  width: 70%;
  border: 1px solid #5b42f3;
  box-shadow: rgba(151, 65, 252, 0.2) 0 5px 10px -5px;
  border-radius: 4px;
  z-index: 2;

  &__hide-btn {
    margin-left: auto;
    transform: rotate(45deg) scale(2);
    // outline: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 12px;
    background: transparent;
    color: rgb(100, 149, 237);
  }

  &-btn {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 5px;
    background: transparent;

    &__icon {
      margin-left: 10px;
      color: #5b42f3;
    }

    &__text {
      margin-left: 10px;
      color: #5b42f3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
